@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.dashboard {
  .columns {
    display: flex;
    gap: 6rem;
    margin-top: 3rem;

    @include device(notebook) {
      gap: 3rem;
    }

    @include device(tablet) {
      flex-direction: column;
      align-items: center;
    }

    .column1,
    .column2 {
      width: 100%;
    }

    .column2 {
      max-width: 30rem;

      @include device(tablet) {
        max-width: none;
      }
    }
  }
}
